*{
	margin: 0;
	padding: 0;
}

section{
	width:100%;
}
section .container{
	width:60%;
	padding-bottom: 0;
}
.container{
	width: 60%;
	margin: 0 auto;
	height: 100%;
	color: #fff;
	font-size: 14px;
	box-sizing: border-box;
}

/*--------Section 1-----------*/
.section1{
	background: url("../images/section_1_slider/section1_bg.png");
	background-position: left bottom;
	background-size: cover;
	height: 100vh;
	padding-bottom: 0;
	box-sizing: border-box;
}

.section1_header{
	padding-top: 20px;
	height: 90px;
	padding: 70px 60px 0 60px;
	position: relative;
}
.logo{
	float: left;
}
.section1_header ul{
	float: right;
	list-style-type: none;
}
.section1_header li:last-child{
	margin-right: 0;
}
.section1_header li{
	display: inline-block;
	margin-right: 35px;
	height: 55px;
	font-size: 12px;
}
.section1_header li a{
	text-decoration: none;
	color: #fff;
}
.section1 .container{
	position: relative;
	padding-left: 10px;
	box-sizing: border-box;
}
.section1_shoes{
	width: 100%;
	min-width: 300px;
	margin-top: 10%;
}

.section1_price{
	font-size: 12px;
	margin-bottom: 10px;
}
.section1_price span{
	font-size: 32px;
}
.section1 .container a{
	width: 180px;
	border: thin solid #fff;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	font-size: 24px;
	text-align: center;
	margin-left: 10px;
}
.section1 .container a:hover{
	background: #fff;
	color: #522780;
}
.section1 .container a:first-child{
	margin-bottom: 10px;
}
section1_pagination, section1_social_icons{
	position: absolute;
}
/*--------Section 1 Busket Info-----------*/
#section1_busket{
	position: absolute;
	top: 102%;
	right: 2%;
	width: 400px;
	height: auto;
	background: #eff2f3;
	border-radius: 4px;
	z-index: 2;
	display: none;
}
#section1_busket .row{
	height: 100px;
	margin: 10px 0 0 0;
	width: 100%;
	background: #fff;
}
.delete_item_button{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #d64647;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
}
.delete_item_button:hover{
	text-decoration: none;
	color: #000;
}
#section1_busket table{
	width: 96%;
	margin: 10px auto;
}
#section1_busket table td{
	border: thin solid silver;
	padding: 6px 10px;
	text-align: right;
}
#section1_busket table td:first-child{
	font-weight: bold;
}
#section1_busket>a{
	display: inline-block;
	text-decoration: none;
	color:#00bfff;
	margin-top: 10px;
	font-weight: bold;
}
.alink{
	margin-left: 60%;
	margin-right: 12px;
}

.buscket_item img{
	width: 100%;
}

/*--------Section 2-----------*/
.section2{
	padding: 30px 0 0 0;
	box-sizing: border-box;
}
.section2 .container{
	height: 630px;
	position: relative;
	color: #000;
	box-sizing: border-box;
	clear: both;
}

.section2 .container a{
	border: thin solid #fff;
	text-decoration: none;
	color: #fff;
	background: #000;
	border-radius: 10px;
	font-size: 12px;
	text-align: center;
	display: block;
	padding-top: 5px;
	width: 150px;
	height: 40px;
}
.section2 .container h2{
	margin-bottom: -14px;
	text-indent: 24px;
	font-weight: bold;
}
.section2_img{
	height: 530px;
	background: url("../images/section_2/Sneaker.png") no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.section2_discount{
	background: #000;
	width: 150px;
	height: 34px;
	position: absolute;
	left: 10%;
	bottom: 97%;
	color: #fff;
	text-align: center;
	padding-top: 5px;
}

/*--------Section 3-----------*/

.section3{
	position: relative;
}
.section3 .container{
	height: 800px;
	position: relative;
	color: #000;
	box-sizing: border-box;
}
.item{
	height: 340px;
	position: relative;
}
.item:hover{
	border: thin solid #eff2f3;
}
.item img{
	width: 98%;
}
.item_name{
	font-size: 14px;
	font-weight: bold;
}
.item_collection{
	font-size: 12px;
	color: #000;
}
.item_price{
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
}

.buy_button, .about_item, .buy_button:visited, .about_item:visited{
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 100px;
	height: 40px;
	font-size: 14px;
	padding-top: 6px;
	text-align: center;
	border: thin solid #eff2f3;
	border-radius: 4px;
	display: block;
	color:#fff;
	background: #522780;
	text-decoration: none;
	display: none;
}
.buy_button:hover, .about_item:hover{
	color: #522780;
	background: #fff;
	text-decoration: none;
	border: thin solid #522780;
}

.about_item{
	bottom: 70px;
}

/*--- Section 3 Modal Wrapper---*/
.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;	
	background: rgba(0,0,0,0.5);
	height: 100vh;
	display: none;
}
.modal_div{
	width: 60vw;
	height: 80vh;
	margin: 50px auto;
	border: 1px solid #000;
	padding: 15px;
	position: relative;
	background: #fff;
	display: block;
	z-index: 5;
}
#overlay{
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0, 0);
	z-index: 3;

}

.modal_div>div{
	position: relative;
	padding-top: 40px;
	height: 100%;
}
.modal_div img{
	float: left;
    width: 60%;
}
#sizes{
	width: 60px;
	height: 20px;
	border: #522780;
	margin-left: 20px;
	margin-bottom: 10px;
}
ul#colors{
	margin-top: 10px;
	list-style-type: none;
	display: inline-block;
}
ul#colors li{
	padding-left: 15px;
	display: inline-block;
}

.close_icon{
	font-size: 24px;
	position: absolute;
	top: 5px;
	right: 5px;
	font-style: normal;
	cursor: pointer;
}

.modal_div .buy_button, .modal_div .buy_button:visited{
	
	display: block;
}

/*--- Filter Block ---*/
.filter_block{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 200px;
	border: thin solid #eff2f3;
	padding: 10px 10px 10px 20px; 
	font-weight: bold;
}
.filter_block form{
	margin-bottom: 40px;
}
.filter_block p{
	margin-left: -10px;
}
.filter_block label{
	font-weight: normal;
}
.filter_block input[type=submit]{
	width: 100px;
	height: 40px;
	font-weight: normal;
	background: #fff;
	color: #000;
	border: thin solid #eff2f3;
	float: right;
	clear: both;
	margin-right: 20px;
}
.filter_block input[type="submit"]:hover{
	background: #fff;
	color: #522780;
	border: thin solid #522780;
}
/*--- End of Section 3 Modal Wrapper---*/